<header>
  <img class="search" src="images/Icons/Search.svg" />
  <h1>DevMoutain</h1>
  <img class="ham" src="images/Icons/Ham.svg">
</header>

<main>
	
	<section class="initial-form">
		<p>Welcome to <span>DevMountain</span> Social</p>
		<p>Add Some Info So Friends Can Find You</p>
		<br>
		<div class="inputs">
			<input type="text" placeholder="Full Name" class="input-oneline">
			<input type="text" placeholder="Tagline" class="input-oneline">
			<input type="text" placeholder="Profile Image Url" class="input-oneline">
			<input type="text" placeholder="Bio" class="input-bio">
			<button>Save Changes</button>
		</div>
	</section>
  
	<section class="initial-triangles">
		<div class="top-triangle-container">
			<img class="top-triangle" src="../images/pictures/black-and-white-city-skyline-buildings-landscape.jpg">
		</div>
		<div class="bottom-triangle-container">
			<img class="bottom-triangle" src="../images/pictures/00ffe9.png">
		</div>
	</section>
	
</main>

<footer>
	<hr>
	<ul>
		<li class="view-friends"><a ui-sref="friends">View Friends</a></li>
		<li class="find-friends"><a ui-sref="search">Find Friends</a></li>
		<li class="update-profile"><a ui-sref="update">Update Profile</a></li>
	</ul>		
</footer>