.friends-right {
	width: 60%;
	height: 500px;
	float: left;
	position: relative;
	padding: 0 5%;
}

.friends-right-bar {
	padding: 14px 20px;
	box-shadow: 3px 3px 3px #D8D8D8;
	border: 1px solid #D8D8D8;
}

.friends-right-bar select{
	display: inline;
	font-family: 'Lora', serif;
	font-size: 6.6px;
	line-height: 8px;
	color: #232323;
	
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	
	padding: 2px 9px;
}

.friends-right-bar p{
	display: inline;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	
	font-family: 'Lora', serif;
	font-size: 19.8px;
	line-height: 24px;
	color: #232323;
}

.friends-right-bar img{
	display: inline;
	position: absolute;
	right: 12%;
	margin-top: 5px;
}

.friend-tiles {
	height: 60%;
}

.friend-tile {
	background-color: gray;
	float: left;
	height: 33%;
	width: 40%;
	margin: 5%;
	position: relative;
}

.tile-info {
	background-color: rgba(179,179,179, 0.7);
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 20% 10%;
/*	display: none;*/
}

.tile-name {
	font-family: 'Lora', serif;
	font-size: 16.8px;
	line-height: 21px;
	color: #FFFFFF;
}

.tile-button {
	font-family: 'Lora', serif;
	font-size: 11.4px;
	line-height: 14px;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	
}






/* ============================================= */

@media (min-width: 1200px) {
	
	.friend-tile {
		height: 32.5%;
		width: 28%;
		margin: 5% 10%;
	}
	
}


@media (min-width: 1600px){
	
	.friend-tile {
		height: 35%;
		width: 25%;
		margin: 5% 12.5%;
	}
	
}






