.initial-form {
	width: 40%;
	position: relative;
	height: 400px;
	display: block;
	float: left;
}

.initial-form p {
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 12.07px;
	line-height: 14px;
	color: #232323;
}

.initial-form p span{
	color: #74FDF2;
}

.inputs input {
	font-family: 'Lora', serif;
	font-size: 16.8px;
	line-height: 21px;
	margin-bottom: 5px;
	padding: 3px;
	color: #B6B6B6;
	border-color: #EAEAEA;
	border-style: solid;
	width: 100%;
}

.inputs .input-bio {
	padding-bottom: 150px;
}

.inputs button {
	border: none;
	background-color: #00FFE9;
	font-family: 'Lora', serif;
	font-size: 13.44px;
	line-height: 17px;
	color: #9A9A9A;
	margin-bottom: 5px;
	padding: 3px;
	width: 100%;
}

/* ========================================================== */

.initial-triangles {
	width: 60%;
	height: 500px;
	float: left;
	position: relative;
	z-index: -3;
}

.top-triangle-container {
	width: 100%;
	height: 60%;
	z-index: -2;
}

.bottom-triangle-container {
	width: 100%;
	height: 60%;
	position: absolute;
	bottom: 0px;
	z-index: 0;
}

.top-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 229px 290px 169px;
	border-color: transparent transparent gray transparent;
	
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Safari */
  transform: rotate(10deg);
	
	margin-left: 10%;
	margin-top: 10%;
	z-index: -2;
}

.bottom-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 290px 179px 0 179px;
	border-color: #00FFE9 transparent transparent transparent;
	
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Safari */
  transform: rotate(-10deg);
	
	margin-left: 10%;
	z-index: 0;
	
}








/* ================================================= */