* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
	padding: 5% 10%;
}




/* ======================================================= */

header {
	display: relative;
	padding: 20px;
	border-bottom: thin solid #EAEAEA;
}

header img{
	display: inline;
	height: 20px;
}

header h1 {
	display: inline;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	font-family: 'Lora', serif;
	line-height: 21px;
	font-size: 16.8px;
	color: #272727;
}

.ham {
	position: absolute;
	right: 20px;
}

/* ============================================================ */

footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 0px 13% 20px;
}

footer a{
	text-decoration: none;
	color: inherit;
}

footer hr {
	margin-bottom: 20px;
	border: 0;
	height: 2px;
	background-color: #D7D7D7;
}

footer ul {
	position: relative;
}

footer ul li {
	display: inline;
	font-family: 'Open Sans', sans-serif;
	line-height: 18px;
	font-weight: bold;
	font-size: 13.2px;
	color: #A9A9A9;
}

.update-profile {
	position: absolute;
	right: 0px;
}

.find-friends {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

.nav-underline {
	border-bottom: thick solid #00FFE9;
	padding-bottom: 3px;
}